* {
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: #EEE6DB;
    padding: 0px;
    margin: 0;
}

.main {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.sidebar {
    display: flex;
    width: 20%;
    padding: 20px;
    justify-content: center;
    background-color: rgba(231, 108, 30, 0.9);
}

.sidebar button {
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: #363635;
    background-color: #D9D9D9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 21px;
}

#back-button {
position: absolute;
width: 57px;
height: 52px;
left: 19px;
top: 21px;
}

#user-icon {
position: absolute;
width: 128px;
height: 127px;
left: 100px;
top: 73px;
}